* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    scroll-behavior: smooth;
}

body {
    font-family: 'Gluten', cursive;
}

.contenedor {
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
    padding: 40px 0;
    margin-bottom: 17px;
}

.copy {
    font-weight: 300;
    font-size: 25px;
    text-align: center;
}

header {
    color: #f72585;
    text-align: center;
    font-size: 20px;
    background-image: linear-gradient(to top, rgba(255, 199, 239, 0.486) 0%, hsla(218, 68%, 79%, 0.514) 100%), url(img/woman.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    width: 20%;
    float: left;
}

nav a {
    background-color: #5adbfc;
    border-radius: 10px 0 10px 0;
    color: #fff;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    display: block;
}